{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>{% block title %} Rejestracja zajęć zdalnych {% endblock %}</title>
</head>
<body>
<div>
    <ul class="nav bg-info">
        <!-- Zadanie 2 - linki nawigacji -->
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'profile' %}">Profil</a>
            </li>
            <li class="nav-item">
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-link ms-2">Wyloguj</button>
                </form>
            </li>
            <li class="nav-item">
                <span class="nav-link">Zalogowano jako {{ user.username }}!</span>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'login' %}">Zaloguj</a>
            </li>
            <li class="nav-item">
                <!-- Logowanie przez Google -->
                <form method="post" action="/accounts/google/login/">
                    {% csrf_token %}
                    <button type="submit">🌐 Zaloguj przez Google</button>
                </form>
            </li>
            <li>
                <a class="nav-link link-light" href="{% url 'register' %}">Zarejestruj się</a>
            </li>
        {% endif %}
    </ul>
    <main>
        <!-- Zadanie 4 - pętla messages -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% block content %}
            <!-- Treść podstrony wstawić tutaj -->
        {% endblock %}
    </main>
</div>
<footer>
    <div>&copy; 2026 - Kurs Django</div>
</footer>

</body>
</html>